<?xml version="1.0" ?>
<phpunit>
    <testsuites>
        <testsuite name="examples">
            <file>tests/examples/HelloWorldTest.php</file>
            <file>tests/examples/HelloWorldAsyncTest.php</file>
        </testsuite>
        <testsuite name="core">
            <file>tests/core/ClientTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>